:root {
    --fondo: #f3f5fc;
    --font-color: #0a3871;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: auto;
    background-color: var(--fondo);
    color: var(--font-color);
}

.header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header h1 {
    padding: 15px;
}
/*/
.header__logo {
    animation: rotation 1s ease 0s infinite;
}
@keyframes rotation {
    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(-180deg);
    }
}
*/
.ingresar_texto {
    width: 100%;
    height: 40%;
    padding: 0 16px;
}
.ingresar_texto textarea {
    width: 343px;
    height: 100%;
    border-style: none;
    background-color: var(--fondo);
    font-size: 2rem;
    font-weight: 400;
    color: var(--font-color);
    line-height: 150%;
    resize: none;
}
.ingresar_texto textarea::placeholder {
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    top: 50px;
}
.warning {
    display: flex;
    align-content: center;
    gap: 5px;
    padding: 10px;
    font-size: 0.8rem;
    cursor: default;
}

.magia {
    padding: 0 16px;
    width: 100%;
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}
.magia button {
    width: 100%;
    height: 67px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}
.encriptar {
    border: none;
    background-color: var(--font-color);
    color: white;
}
.encriptar:hover {
    background-color: #0c2a4f;
}
.desencriptar {
    border: 1px solid var(--font-color);
    color: var(--font-color);
}
.desencriptar:hover {
    background-color: lightgray;
}

.mostrar_texto {
    background-color: #fff;
    width: auto;
    height: 186px;
    margin: 40px 24px;
    padding: 32px;
    border-radius: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: left;
    overflow: auto;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: #343a40;
    margin-bottom: 16px;
}
.secondary {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(73, 80, 87, 1);
}
.muñeco {
    display: none;
}
/*--------CLASE PARA EL TEXTO DE SALIDA--------*/
.salida {
    text-align: left;
    color: var(--font-color);
    font-weight: 400;
    font-size: 1.5rem;
}
/*--------BOTON COPIAR--------*/
.copy__button {
    display: none;
    border-radius: 20px;
    padding: 1rem;
    width: 80%;
    align-self: center;
    border: 1px solid var(--font-color);
    background-color: white;
    color: var(--font-color);
    cursor: pointer;
}
.copy__button:hover {
    background-color: lightgray;
}

/*------------------TABLETS----------------------*/
@media screen and (min-width: 768px) {
    body {
        width: 100%;
    }
    .header {
        height: 200px;
        padding: 0 30px;
    }
    .ingresar_texto {
        height: 50vh;
        padding: 0 40px;
    }
    .ingresar_texto textarea {
        width: 100%;
        height: 100%;
    }
    .ingresar_texto textarea::placeholder {
        position: relative;
        top: 80px;
    }
    .warning {
        padding: 0 40px;
    }
    .magia {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 40px;
    }
    .main {
        line-height: 28.8px;
    }
    .secondary {
        line-height: 24px;
    }
    .copy__button {
        margin-top: 20px;
        width: 90%;
    }
}

/*------------------DESKTOP----------------------*/

@media screen and (min-width: 1240px) {
    .header {
        height: 100px;
    }
    .header__logo {
        transition: all 1s ease 0s;
    }
    .header__logo:hover {
        transform: rotateY(180deg);
    }
    .ingresar_texto textarea {
        width: 60%;
        position: relative;
        left: 50px;
    }
    .warning {
        padding: 0;
        margin-left: 5%;
        width: 60%;
        position: absolute;
        top: auto;
        bottom: 150px;
    }
    .magia {
        width: 60%;
        position: absolute;
        top: auto;
        bottom: 50px;
    }
    .magia button {
        width: 330px;
    }
    .mostrar_texto {
        width: 25%;
        height: 90vh;
        position: absolute;
        top: 0;
        right: 40px;
        bottom: 20px;
    }
    .muñeco {
        display: block;
        width: -webkit-fill-available;
    }
    .copy__button {
        position: relative;
        bottom: 50px;
        top: 40%;
    }
}
